.projects {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}

.project {
  height: 40%;
  width: 70%;
  border: 2px solid black;
  margin-left: 15%;
  display: flex;
}

.certificate {
  height: 40%;
  width: 70%;
  margin-top: 50px;
  border: 2px solid black;
  margin-left: 15%;
  display: flex;
}

.project_para {
  width: 60%;
  margin-right: 20px;
  margin-left: 20px;
  align-items: center;
  padding: 30px;
  padding-top: 80px;
}

.project_border {
  width: 40%;
  background: #ffffe0;
  align-items: center;
  text-align: center;
  padding-top: 100px;
  text-decoration: none;
  margin: 20px;
}

.project_border:hover {
  letter-spacing: 7px;
}
.font {
  font-size: 2rem;
}

@media (max-width: 850px) {
  .project_para {
    font-size: 12px;
  }
}

@media (max-width: 750px) {
  .projects {
    height: auto;
    margin-bottom: 50px;
  }
  .project {
    display: flex;
    flex-direction: column;
    height: auto;
  }
  .certificate {
    display: flex;
    flex-direction: column;
    height: auto;
  }
  .project_para {
    width: 80%;
    margin-right: 20px;
    margin-left: 2px;
    align-items: center;
    padding: 30px;
    padding-top: 10px;
  }
  .project_border {
    width: 90%;
    padding-bottom: 20%;
  }
  .font {
  }
}
