.cert_main {
  width: 100%;
}
.cert {
  width: 80%;
  display: flex;
  flex: 40px;
  margin-left: 10%;
}

button {
  color: black;
}

@media (max-width: 750px) {
  .cert {
    display: flex;
    flex-direction: column;
  }
}
