.front {
  height: 100vh;
  background-image: url("./background.jpg");
  width: 100%;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.front_div {
  padding-top: 100px;
  margin-left: 200px;
}

.text_primary {
  font-size: 4rem;
  letter-spacing: 8px;
  color: white;
}

.text_secondary {
  letter-spacing: 8px;
  font-size: 4rem;
  color: #eece1a;
}

.icons {
  margin-top: -29px;
  justify-content: space-around;
  color: white;
}
.icons a {
  color: white;
  display: inline-block;
  padding: 0.4rem;
}

.icons a:hover {
  color: #6ab04c;
}

.middle {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.mouse {
  width: 40px;
  height: 60px;
  border: 2px solid #6ab04c;
  border-radius: 60px;
}

.mouse::before {
  content: "";
  width: 10px;
  height: 10px;
  position: absolute;
  top: 30px;
  background: #6ab04c;
  left: 50%;
  transform: translate(-50%);
  border-radius: 50%;
  opacity: 1;
  animation: mouse 2s infinite;
}

@keyframes mouse {
  from {
    opacity: 1;
    top: 10px;
  }

  to {
    opacity: 0;
    top: 50px;
  }
}

.wrapper {
  margin-top: -50px;
  padding: 0;
  display: flex;
}
.hello {
  font-size: 3rem;
  color: white;
}

.hello span::before {
  color: #6ab04c;
  content: "";
  animation: animate infinite 4s;
}

@keyframes animate {
  0% {
    content: "Developer";
  }
  70% {
    content: "Programmer";
  }
  100% {
    content: "Entrepreneur";
  }
}

@media (max-width: 750px) {
  .front_div {
    padding-top: 40px;
    margin-left: 50px;
  }
}

@media (max-width: 500px) {
  .text_primary {
    font-size: 35px;
    letter-spacing: 4px;
  }

  .text_secondary {
    letter-spacing: 4px;
    font-size: 35px;
  }
  .hello {
    font-size: 25px;
    color: white;
  }
  .wrapper {
    margin-top: -20px;
    padding: 0;
    display: flex;
  }
  .si {
    height: 20px;
    width: 20px;
  }
  .icons {
    padding-top: 20px;
  }
}
